<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        
        <h2>
            <%= product.product %>
            <%= brand.brand %>
        </h2>
        <h3>
            <%= product.price %>
        </h3>
        <p>
            <%= product.description %>
        </p>
        <a href="/brands/<%= brandid %>/products/<%= productid %>/edit">Edit</a> <a href="/brands/<%= brandid %>/products/<%= productid %>/delete">Delete</a>
        <a href="/brands/<%= brandid %>">Back</a>


    </body>
</html>